.container-title-container {
    justify-content: center!important;
}

.content.terms-of-use .container-title-container .title {
    font-size: 2rem;
}
h1{
    color: red;
}

.content.terms-of-use p{
    margin-bottom: 12px; 
}