.navigation {
    height: 100px;
    background-color: #121212;
    line-height: 60px;
}


.scroll{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 10000;
}

.scroll .navigation{
    box-shadow: 0px 0px 10px 0.5px #202020;
}

/* .scroll .navigation svg{
    width: 120px!important;
}

.scroll .navigation .input-group>.form-control{
    height: 48px!important;
    font-size: 14px;
}

.scroll .navigation .hamburger-react{
    height: 40px!important;
} */

.navigation svg{
    height: 50px;
    width: 151px;
}

.navbar ul li {
    text-align: center;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-brand{
    margin-left: 1%;
}

.menu-item.search{
    display: none;
}
  

.navigation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 0;
}


@media (min-width: 992px) {
    .navigation .container {
      padding: 0 !important;
    }
}

@media only screen and (max-width: 1023px){
    .collapse {
        display: none !important;
    }
    /* .menu-item.search{
        display: block;
    }
    .menu-item.search .input-group>.form-control{
        box-shadow: 0px 0px 10px 1px #121212;
        background-color: #202020!important;
        color: #E7E7E7;
        width: 292px!important;
    }
    .menu-item.search .input-group>.form-control:active{
        box-shadow: 0px 0px 10px 1px #121212;
        background-color: #202020!important;
        color: #E7E7E7;
        width: 292px!important;
    } */
}

/* .navbar-collapse input[type = text]{
    transition: width 0.4s ease-in-out;
} */

.navbar-collapse{
    flex-basis: auto!important;
    flex-grow:0!important;  
}

.navbar{
    display:flex;
    justify-content: space-between!important;
}

.menu-item {
    border-bottom: 1px solid #dee2e6;
    color:#212121;
}

.menu-item a {
    display: block;
    padding: .7rem 15px;
    text-decoration: none;
}

.menu-item a.link{
    color: #121212!important;
}

.menu-item a:hover {

text-decoration: none;
background-color: #eee;
}

.menu-item a:focus {
text-decoration: none;
}

.menu-item a:visited {
color: inherit;
}

.active-menu-item {
background-color: #e8e8f9;
}

.hint {
padding: .5rem 15px;
}